-if flash[:success]
  .alert.alert-info
    %p= flash[:success]
-elsif flash[:danger]
  .alert.alert-danger
    %p= flash[:danger]

= form_for @user, html: {class: "navbar-form full-width"} do |f|

  = f.label :email, 'Email:'
  = f.text_field :email, class: "form-control"
  %br

  = f.label :username, 'Username:'
  = f.text_field :username, class: "form-control"
  %br

  = f.label :password, 'Password:'
  = f.text_field :password, class: "form-control", type: "password"
  %br

  = f.label :password_confirmation, 'Confirm Password:'
  = f.text_field :password_confirmation, class: "form-control", type: "password"
  %br

  = f.submit 'Sign Up', class: "btn btn-warning"
