=link_to "Home", root_path
%h1 Your Cart
- @orders.each do |order|
  #li
    %h3
      %strong
        #span= order.product.name
  %div{:style => "display: inline-block;"}=image_tag("#{order.product.image}")
  %div.prod{ :style => "display: inline-block; margin-top: -35px;"}
    %br
    -# %div{ :style => "display: inline-block;"}
    #li
      %strong Price:
    #span= number_to_currency(order.product.price)
    #li
      %strong Description:
    #span= order.product.description
    #li
      %strong Quantity:
    #span= order.product.quantity


    =form_tag("/users/#{current_user.id}/orders/#{order.id}", method: "DELETE", class: "navbar-form navbar-right") do
      .form-group
        =submit_tag "Remove from cart", class: "btn btn-warning"
%div
  =form_tag("1", method: "PATCH") do
    .form-group
      =submit_tag "Checkout", class: "btn btn-warning"



