-if current_user && current_user.admin
  %a{:href => "/admin"} Click here to view site as Admin!

-if flash[:success]
  .alert.alert-info
    %p= flash[:success]
-elsif flash[:danger]
  .alert.alert-danger
    %p= flash[:danger]

.col-md-12
  -@categories.each do |cat|
    =link_to cat.name.capitalize, category_path(cat), {class: "btn btn-info"}

-@products.each do |p|
  .col-md-4
    #item
      #li
        %h3
        #span= p.name
        = link_to image_tag("#{p.image}"), product_path(p)
      #li
        %strong Price:
        #span= number_to_currency(p.price)



