=link_to "Home", root_path
#li
  %h3
    %strong
      #span= @product.name
%div{:style => "display: inline-block;"}=image_tag("#{@product.image}")
%div.prod{ :style => "display: inline-block; margin-top: -35px;"}
  %br
  -# %div{ :style => "display: inline-block;"}
  #li
    %strong Price:
  #span= number_to_currency(@product.price)
  #li
    %strong Description:
  #span= @product.description
  #li
    %strong Quantity:
  #span= @product.quantity

- if current_user
  %a{:href => "/users/#{current_user.id}/orders/new", class: "btn btn-warning", :style => "display: block; width: 150px;"} Add to cart
-# =button_to "Delete", {id: @product.id }, method: :delete, action: :destroy, data: { confirm: "Are you sure?" }

