=link_to "Home", root_path
#li
  %h3
    %strong
      #span= @product.name
%div{:style => "display: inline-block;"}=image_tag("#{@product.image}")
%div.prod{ :style => "display: inline-block; margin-top: -35px;"}
  %br
  -# %div{ :style => "display: inline-block;"}
  #li
    %strong Price:
  #span= number_to_currency(@product.price)
  #li
    %strong Description:
  #span= @product.description
  #li
    %strong Quantity:
  #span= @product.quantity

- if current_user
  =form_tag("/users/#{current_user.id}/orders", method: "POST", class: "navbar-form navbar-right") do
    =submit_tag "Add to cart", class: "btn btn-warning"

